third_party/

./include/digit_ocr.h
./include/feature_extractor.h
./include/knn_classifier.h
./include/mnist_loader.h
./include/preprocessor.h

./src/digit_ocr.cpp
./src/feature_extractor.cpp
./src/knn_classifier.cpp
./src/main.cpp
./src/mnist_loader.cpp
./src/preprocessor.cpp
./src/test.cpp

./download_mnist_data.sh

./CMakeLists.txt
./compile_flags212121.txt
